# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environment
venv/
.venv/
env/

# !! NEVER commit these !!
.env
*.env

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Zip files
*.zip